<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Learn Words</title>
    </head>
    <body>
            <div class="col-md-4" style="padding:20px 0">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"
                    class="btn btn-sm btn-danger"/>
            </form>
        </div>
        <h1>Welcome to your Finnish vocabulary learning journey!</h1>

        <h3>Choose your current Finnish proficiency level</h3>
        <form th:action="@{/setLevel}" method="post">
            <select name="level" required>
                <option value="" disabled selected>Select</option>
                <option value="A1">A1</option>
                <option value="A2">A2</option>
                <option value="B1">B1</option>
                <option value="B2">B2</option>
                <option value="C1">C1</option>
                <option value="C2">C2</option>
            </select>
            <button type="submit" style="margin-left: 10px;">Start Learning</button>
        </form>
    </body>
</html>