<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/layout :: head (pageTitle='Email verified')}">
    <title>Email verified</title>
</head>
<body>
<nav th:replace="~{fragments/layout :: navbar}"></nav>

<main class="container app-main">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="page-heading h4 mb-3">You have confirmed your email</h1>
            <p class="text-secondary">You can now sign in.</p>
            <a class="btn btn-primary" th:href="@{/login}">Sign in</a>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>
